﻿.auto-size {
    max-width: 100%;
    margin: auto;
    display: block;
}

.invisible {
    display: none !important;
}

.visible {
    display: block;
}

.autoexpand {
    overflow: visible !important;
}

.right {
    float: right;
}

.capitalisation {
    float: right;
}

.capitalisation .item-title {
    width: initial !important;
}

.clipboard-actions {
    float: left !important;
}

.clipboard-actions .button {
    overflow: visible !important;
}

form.card textarea {
    min-height: 20vh !important;
}

.restriction .item-title {
    width: initial !important;
}

.card-footer .switches {
    /*float: right;*/
}